<%= form_with(model: search, local: true, class: "space-y-6") do |f| %>
  <div>
    <label class="block text-sm font-medium text-gray-700 mb-2">Select Stations</label>
    <%= f.select :station_ids,
        Station.with_itineraries.map { |s| ["#{s.name} (#{s.station_type&.titleize}) #{s.city.present? ? "- #{s.city}" : ''}", s.id] },
        { },
        {
          multiple: true,
          data: { controller: "slim-select" },
          class: "w-full"
        }
    %>
  </div>

  <div class="flex justify-end">
    <%= f.submit search.new_record? ? "Create Search" : "Update Search", 
                 class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>
