<div class="mt-6">
  <div class="bg-white rounded-xl overflow-hidden shadow-xl">
    <div 
      data-controller="form-map"
      style="height: 400px;"
      class="w-full"
    ></div>
  </div>
</div>
